# Example Docker Compose override file for local development

services:
  app:
    platform: linux/amd64 # Needed for Apple Silicon
    build:
      dockerfile: docker/app/Dockerfile
    init: true
    restart: unless-stopped
    environment:
      SCREENSHOT_PROVIDER: browserless
      BROWSERLESS_ENDPOINT: ws://browserless:3000
      SCREENSHOT_HOST: app
    depends_on:
      - browserless
    volumes:
      - .:/app

  browserless:
    image: ghcr.io/browserless/chromium
    platform: linux/arm64 # Needed for Apple Silicon
    restart: unless-stopped
    environment:
      CONCURRENT: ${BROWSERLESS_CONCURRENT:-1}
      QUEUED: ${BROWSERLESS_QUEUED:-100}
    ports:
      - 3000:3000
