version: "3.8"

services:
  app:
    # This may be necessary on M1 Macs:
    #platform: linux/amd64

  nginx:
    #ports:
    #  - "127.0.0.1:8888:80"

    environment:
      VIRTUAL_HOST: splatoon3.ink,www.splatoon3.ink

    networks:
      - default
      - nginx-proxy

networks:
  nginx-proxy:
    external:
      name: nginxproxy_default
