# Example Docker Compose override file for production

services:
  app:
    image: ghcr.io/misenhower/splatoon3.ink:main
    init: true
    restart: unless-stopped
    environment:
      SCREENSHOT_PROVIDER: cloudflare
    env_file:
      - .env
    labels: [ "com.centurylinklabs.watchtower.scope=splatoon3ink" ]

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --scope splatoon3ink
    labels: [ "com.centurylinklabs.watchtower.scope=splatoon3ink" ]
