@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-100;
  @apply bg-black;
  background-image: url('@/assets/img/information-bg.jpg');
  background-size: 400px;
  background-position: center;
}

.text-shadow {
  text-shadow: 1px 1px 0 #000;
}

@font-face {
  font-family: Splatoon1;
  src: url("@/assets/fonts/5476b40d543260503fbccbbab305b1f9.woff2") format("woff2"),url("@/assets/fonts/f85b6b75e658c1758ee0b3f2262c9522.woff") format("woff")
}

@font-face {
  font-family: Splatoon1;
  src: url("@/assets/fonts/0e12b13c359d4803021dc4e17cecc311.woff2") format("woff2"),url("@/assets/fonts/f25982b8ab52a929938cd63f15656ecf.woff") format("woff")
}

@font-face {
  font-family: Splatoon2;
  src: url("@/assets/fonts/61f6c62eb1065d00c9a2bcf85e090fe4.woff2") format("woff2"),url("@/assets/fonts/b426a8e06ebdfcb82b481ab57922d6b4.woff") format("woff")
}

@font-face {
  font-family: Splatoon2;
  src: url("@/assets/fonts/eb82d017016045bf998cade4dac1ec22.woff2") format("woff2"),url("@/assets/fonts/b4fab2f6ac35a758f6aeb5b7054ab121.woff") format("woff")
}
